@font-face {
  font-family: "PP Mondwest";
  src: url("fonts/mondwest/PPMondwest-Bold.woff2") format("woff2"),
    url("fonts/mondwest/PPMondwest-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Mondwest";
  src: url("fonts/mondwest/PPMondwest-Regular.woff2") format("woff2"),
    url("fonts/mondwest/PPMondwest-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-Bold.woff2") format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-Italic.woff2") format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("fonts/neue-montreal/PPNeueMontreal-Book.woff2") format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-BoldItalic.woff2")
      format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-Light.woff2") format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-Thin.woff2") format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("fonts/neue-montreal/PPNeueMontreal-ThinItalic.woff2")
      format("woff2"),
    url("fonts/neue-montreal/PPNeueMontreal-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
