@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "PP Neue Montreal", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.025rem;
  text-transform: uppercase;

  --color-red: #ff0000;
  --color-gray: #e1e5d5;
  --color-ivory: #efecdd;
  --color-gray-dark: #232020;
  --padding-section: 2rem;
}

body {
  background-color: var(--color-ivory);
  color: var(--color-red);
}

img {
  max-width: 100%;
  height: auto;
}

ol {
  counter-reset: menu-counter 0;
}

ol li {
  counter-increment: menu-counter;
}

ol li::marker {
  content: counter(menu-counter) "    ";
}

a {
  text-decoration: none;
  color: inherit;
}

/* base */
.content {
  position: relative;
  min-height: 100dvh;
}

/* components */
.header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  z-index: 10;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-red);
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  mix-blend-mode: difference;
  background-blend-mode: exclusion;
  color: var(--color-red);
}

.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header__contact__link {
  text-decoration: underline;
}

.section__title {
  font-size: 1rem;
  margin: 0;
}

/* hero section */
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-section);
}

.hero__title {
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 8rem;
  font-family: "PP Mondwest", serif;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.25rem;
  text-align: center;
  text-transform: none;
}

/* about */
.about {
  background-color: var(--color-ivory);
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: var(--padding-section);
}

.about__content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about__thumbnails {
  position: relative;
  height: 350px;
  width: 250px;
  justify-self: center;
  align-self: center;
}

.about__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
}

.about__desc {
  color: var(--color-red);
  text-align: justify;
  text-wrap: pretty;
  max-width: 400px;
  text-transform: none;
}

.indented {
  overflow: hidden;
}

.indented::before {
  content: "";
  float: left;
  height: 4.5em;
  width: 12ch;
}

.about__location {
  font-size: 0.875rem;
}

/* works */
.works {
  background-color: var(--color-red);
  color: var(--color-gray);
}

.works__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.works__title {
  margin-bottom: 2rem;
  display: none;
}

.works__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.works__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.works__item__wrapper {
  padding: var(--padding-section);
  position: relative;
  height: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-red);
}

.works__item__title,
.works__item__location {
  position: relative;
  font-size: 1rem;
}

.works__item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* expertise */
.expertise__wrapper {
  padding: var(--padding-section);
  height: 100vh;
}

.expertise__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.expertise__content__text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.expertise__content__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expertise__desc {
  max-width: 400px;
  text-wrap: pretty;
  text-align: justify;
  text-transform: none;
}

.expertise__list {
  list-style-position: inside;
}

.expertise__item {
  color: var(--color-red);
}

.expertise__item::marker {
  padding-right: 1rem;
}

.expertise__item__title {
  margin: 0;
  letter-spacing: -0.025rem;
  font-size: 1rem;
  display: inline;
}

.expertise__thumbnails {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 64px;
  height: 450px;
  width: 350px;
  justify-self: center;
  align-self: center;
}

.expertise__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
}

/* gallery */
.gallery {
  background-color: var(--color-red);
  color: var(--color-gray);
}

.gallery__title {
  display: none;
}

.gallery__wrapper {
  height: 100vh;
  overflow: hidden;
  padding: var(--padding-section);
}

.gallery__grid {
  display: flex;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

.gallery__grid__column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.col-1 {
  gap: 8rem;
  transform: translateY(100px);
}

.col-2 {
  align-items: flex-end;
  gap: 20rem;
  transform: translateY(-200px);
}

.col-3 {
  gap: 10rem;
  transform: translateY(150px);
}

.col-4 {
  gap: 10rem;
  transform: translateY(-150px);
}

.col-5 {
  gap: 12rem;
  transform: translateY(100px);
}

.col-6 {
  gap: 10rem;
  transform: translateY(-350px);
  align-items: flex-end;
}

.col-7 {
  gap: 10rem;
  transform: translateY(120px);
  align-items: flex-end;
}

.gallery__grid__img {
  width: 100px;
  height: 120px;
  background-size: cover;
  background-position: 50% 50%;
  pointer-events: none;
}

/* contact */
.contact {
  background-color: var(--color-ivory);
  color: var(--color-red);
  overflow: hidden;
  height: 100vh;
}

.contact__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-section);
}

.contact__title {
  display: none;
}

.contact__gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 60%;
}

.contact__gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.contact__cta {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  font-family: "PP Mondwest", sans-serif;
  text-transform: none;
  font-size: 9rem;
  font-weight: 700;
  letter-spacing: -0.25rem;
  text-align: center;
  padding: 0 10%;
}

.thumbnail-visible {
  visibility: visible;
}
